<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">
    <div class="container">
        <div class="row  align-items-center"></div>
        <div class="col-md-12  text-center mt-lg-5">
            <img class="img mt-lg-3" src="https://scontent.frgn5-2.fna.fbcdn.net/v/t1.0-9/16195251_1223784574372263_8181814143962010713_n.png?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEmVUPo1GfRu2uzRjkG2j8nQKPjk_v_IsJAo-OT-_8iwuPDcQ5mLM8x_uJt-2wOF1oHCRggRrVBQrPJZMCr1J6j&_nc_ohc=IU5nC-h6w3sAX_e2MKj&_nc_ht=scontent.frgn5-2.fna&oh=5bd841e6927fd6d7f6e737f37bc178f4&oe=6010B332" alt=""
                 width="150" height="150">
        </div>
        <div class="col-md-12 text-center ">
            <h1 class="font-weight-light display-3"  style="color: red;font-weight: bold">Java Developer Class</h1>
            <h1 class="font-weight-light" style="color: dimgrey;  font-style: italic">We are JDC. We love java so much.</h1>
        </div>


    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="row justify-content-between">

                <h2 class="col-md-6">Course List</h2>

                <a href="#" th:href="@{/courses/create}" type="button" class="btn  col-md-1 btn-sm"><i class="fas fa-plus"> Add</i></a>


                <div th:replace="fragnments/courseTable :: courseTable"></div>
                 </div>
        </div>
    </div>
</main>
</body>
</html>